div {
  width: 100%;
  padding: 30px;
}

div {
  width: 50%;

  padding: 15px;
}

span {
  color: grey;
}

div {
  width: 25%;

  padding: 30px;
  background: white;
}

span {
  text-decoration: underline;
  color: red;
}

a {
  font-weight: bold;
}
